---
import Layout from '../layouts/Base.astro';
---

<Layout title="EtherUtils">
    <section class="d-flex vh-100 justify-content-center align-items-center">
        <div class="container"> 
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="block p-4 mx-2 text-center">
                        <h1 class="h1styled mb-4">404</h1>
                        <p>Está rara esa ruta.</p>
                        <a class="btn mt-3" href="/">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>